.aboutMe {


  img {
    max-width: 450px;
    height: auto;
    margin-right: 15px;
    float: left;
    clip-path: circle(45% at 48% 47%);
    shape-outside: circle(45% at 50% 44%);

    @media screen and (max-width: 650px) {
      max-width: 100%;
      float: none;
      margin: 0 auto 20px;
      display: block;
    }
  }

}